@page "/error-boundary"

<h3>Error Boundary示範</h3>

<hr/>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

    //the unhandled exception is thrown for a currentCount over five
        if (currentCount > 5)
        {
            throw new System.InvalidOperationException("Current count is too big!");
        }
    }
}