@page "/render-from-js"

<h3>Render Razor components from JavaScript</h3>

<a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-6.0#render-razor-components-from-javascript">Render Razor components from JavaScript</a><br/>
<a target="_blank" href="https://github.com/aspnet/samples/tree/main/samples/aspnetcore/blazor/JSComponentGeneration">Generate Angular and React components</a><br/>

