@*<button type="@ButtonType" class="@ButtonClass">@ButtonName</button>*@
@*<input @attributes="InputAttributes" value="MyButton"/>*@
<input @attributes="InputAttributes" style="@ColorStyle"/>
@code {
    //[Parameter]
    //public string ButtonType { get; set; }

    //[Parameter]
    //public string ButtonClass { get; set; }

    //[Parameter]
    //public string ButtonName { get; set; }

    /*
    Parameter不支援混合razor及html字串的寫法，如果想這麼做建議用field、property或是string方法回傳組合好的字串。
    Parameter還有一點要避免，當Parent Component傳值到Child Component時，Parent Component若有StateHasChanged相關動作，
    會將Parent Component及Child Component重新render，除非在Child Component用一個變數先接起來Parent Component傳來的值。
    */

    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string, object> InputAttributes { get; set; } = 
        new Dictionary<string, object>()
          {
                { "value", "Button"},
                { "class", "btn btn-info"},
                { "type", "Button"},
          };

    [CascadingParameter]
    public string ColorStyle{ get; set; }
}